@{
    ViewData["Title"] = "Sobre";
}

<div class="container">
    
        <h2>@ViewData["Title"]</h2>
        <br />

        <h4>@ViewData["Message"]</h4>

        <p>Projeto desenvolvido por Thulio Fonseca, baseado nos artigos do professor Macoratti, disponíveis em:</p>

        <a href="https://www.macoratti.net/17/04/aspcore_mvcfilme1.htm"> Macoratti.net</a>
</div>