@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/bannerCinema.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Encontre o Cinema mais próximo!!!</h5>
        <p>Descubra onde o assitir os maiores lançamentos, pero de você.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/images/bannerCover.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Acesse a lista de Filmes</h5>
        <p>Uma lista completa de filmes com todos os detalhes de cada titulo.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/images/bannerStreming.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Em Breve: Séries</h5>
        <p>Tenha acesso a uma seleção com as melhores séries e Animes.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div >

    <div class="row bg-dark m-0">
        <div class="col text-light px-5">
            
            <h2 class="px-5 mb-3 mt-3">Por que ir ao cinema faz bem?</h2>
            
            <hr />
            
                   <p class="fw-light px-5 mb-5">
               
                       Um entretenimento que faz bem para o corpo e a mente, que estimula o pensamento
                    e a criatividade e amplia o conhecimento e o vocabulário para assuntos do dia a 
                    dia, dos mais corriqueiros até situações de negócios. Isso é o cinema. Afinal, se
                    “a vida imita a arte” – ou vice-versa – uma sessão de cinema pode inspirar boas novas 
                    ideias, não é mesmo?  
            
                    </p> 
            
        </div>
       <div class="col text-light px-5">
            
            <h2 class="px-5 mb-3 mt-3">Quais os Benefícios?</h2>
            
            <hr />
            
                           <p class="fw-light px-5 mb-5">
                    Ir ao cinema e assistir a um filme não apenas causa reações físicas e melhora
                    a saúde do coração, como também é positivo para a saúde mental, pois ajuda a
                    desconectar de temas estressantes.

                    </p>
        </div>
         <div class="col text-light px-5">
            
            <h2 class="px-5 mb-3 mt-3">Sobre a FilmeWiki</h2>
            
            <hr />
            
                           <p class="fw-light px-5 mb-5">
                A FilmeWiki é uma plataforma que te ajuda a assistir os maires lançamentos, no cinema mais próximo de você.
                Os Administradores realizam o cadastro dos filmes nos respectivos cinemas, e os usuários podem pesquisar pelos cinemas e verificar quais filmes estão em cartaz.
                

                    </p>
        </div>
    </div>
    <div class="row bg-dark m-0">

        <hr />
    </div>




    
</div>